/*
  0 - 600px:      Phone
  600 - 900px:    Tablet portrait
  900 - 1200px:   Tablet landscape
  [1200 - 1800] is where our normal styles apply
  1800px + :      Big desktop
  
  $breakpoint arguement choices:
  - phone
  - tab-port
  - tab-land
  - big-desktop
  
  ORDER: Base + typography > general layout + grid > page layout > components
  
  1em = 16px
  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1; }
  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0; } }

@keyframes animloader108 {
  0% {
    box-shadow: 0 0 0 -2px , 0 0 0 -2px , 0 0 0 -5px , 0 0 0 -5px; }
  20% {
    box-shadow: 40px -1px 0 -2px , 0 0 0 -2px , 40px -1px 0 -5px , 0 0 0 -5px; }
  40% {
    box-shadow: 40px -1px 0 -2px , -40px -1px 0 -2px ,  40px -1px 0 -5px ,-40px -1px 0 -5px; }
  60% {
    box-shadow: 40px -1px 0 -2px , -40px -1px 0 -2px ,   23px -29px 0 -5px ,-40px -1px 0 -5px; }
  80%, 95% {
    box-shadow: 40px -1px 0 -2px , -40px -1px 0 -2px ,   23px -29px 0 -5px , -23px -29px 0 -5px; }
  100% {
    box-shadow: 40px -1px 0 -2px rgba(11, 111, 178, 0), -40px -1px 0 -2px rgba(11, 111, 178, 0), 23px -29px 0 -5px rgba(11, 111, 178, 0), -23px -29px 0 -5px rgba(11, 111, 178, 0); } }

@keyframes animloader108s {
  0% {
    box-shadow: 0 0 0 -2px , 0 0 0 -2px , 0 0 0 -5px , 0 0 0 -5px; }
  20% {
    box-shadow: 40px 2px 0 -2px  , 0 0 0 -2px , 40px 2px 0 -5px , 0 0 0 -5px; }
  40% {
    box-shadow: 40px 2px 0 -2px  , -40px 2px 0 -2px , 40px 2px 0 -5px , -40px 2px 0 -5px; }
  60% {
    box-shadow: 40px 2px 0 -2px  , -40px 2px 0 -2px , 23px -23px 0 -5px , -40px 2px 0 -5px; }
  80%, 95% {
    box-shadow: 40px 2px 0 -2px  , -40px 2px 0 -2px , 23px -23px 0 -5px , -23px -23px 0 -5px; } }

@keyframes zoomin {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.05); }
  100% {
    transform: scale(1); } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.555;
  color: #515153; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif !important; }

.sub-heading {
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  color: #0b6fb2; }
  @media only screen and (max-width: 992px) {
    .sub-heading {
      font-size: 14px; } }
  @media only screen and (max-width: 768px) {
    .sub-heading {
      font-size: 14px; } }
  @media only screen and (max-width: 575px) {
    .sub-heading {
      font-size: 14px; } }

h2.primary-heading {
  text-align: center;
  margin-bottom: 30px;
  text-transform: capitalize;
  font-size: 36px;
  font-weight: 700;
  color: #002147; }
  @media only screen and (max-width: 992px) {
    h2.primary-heading {
      margin-bottom: 40px;
      font-size: 36px; } }
  @media only screen and (max-width: 768px) {
    h2.primary-heading {
      margin-bottom: 30px;
      font-size: 30px; } }
  @media only screen and (max-width: 575px) {
    h2.primary-heading {
      margin-bottom: 30px;
      font-size: 24px; } }

.heading-hero-primary {
  text-transform: uppercase;
  font-size: 60px;
  text-align: center;
  font-weight: 700;
  color: #fff;
  line-height: 1.26; }
  @media only screen and (max-width: 992px) {
    .heading-hero-primary {
      font-size: 48px; } }
  @media only screen and (max-width: 768px) {
    .heading-hero-primary {
      font-size: 36px; } }
  @media only screen and (max-width: 575px) {
    .heading-hero-primary {
      font-size: 30px; } }

.heading-hero-secondary {
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 200;
  color: #fff;
  text-align: center;
  line-height: 1.26; }
  @media only screen and (max-width: 575px) {
    .heading-hero-secondary {
      font-size: 16px; } }

.heading-fourth {
  line-height: 1.25em;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 700;
  color: #0b6fb2; }

.heading-five {
  line-height: 1.25em;
  margin-bottom: 20px;
  font-size: 14px;
  border: 1px solid #0b6fb2;
  padding: 2px 10px;
  border-radius: 20px;
  font-weight: 600;
  color: #0b6fb2;
  text-transform: uppercase; }

.heading-fifth {
  font-size: 14px;
  font-weight: normal;
  font-style: oblique;
  letter-spacing: 0.5px;
  color: #0e1027; }

.content-para p, .content-para li {
  font-size: 16px;
  line-height: 30px;
  font-weight: normal; }
  .content-para p:last-child, .content-para li:last-child {
    margin-bottom: 0; }
  @media only screen and (max-width: 992px) {
    .content-para p, .content-para li {
      font-size: 16px;
      line-height: 1.7; } }
  @media only screen and (max-width: 768px) {
    .content-para p, .content-para li {
      font-size: 15px;
      line-height: 1.7; } }

.u-center-text {
  text-align: center; }

.mb-large {
  margin-bottom: 7rem; }
  @media only screen and (max-width: 992px) {
    .mb-large {
      margin-bottom: 5rem; } }
  @media only screen and (max-width: 768px) {
    .mb-large {
      margin-bottom: 3rem; } }

.mt-large {
  margin-top: 7rem; }
  @media only screen and (max-width: 992px) {
    .mt-large {
      margin-top: 5rem; } }
  @media only screen and (max-width: 768px) {
    .mt-large {
      margin-top: 3rem; } }

.primary-list li {
  position: relative; }
  .primary-list li:before {
    content: "";
    background-image: url("../images/primary-list-01.png");
    background-size: cover;
    position: absolute;
    top: 30%;
    left: -30px;
    width: 20px;
    height: 20px;
    transform: translateY(-50%); }

#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; }
  @media (max-width: 768px) {
    #loader {
      width: 50%; } }
  @media (max-width: 480px) {
    #loader {
      width: 100%; } }
  #loader .loader-spinner {
    width: 48px;
    height: 35px;
    color: #0b6fb2;
    background: #0b6fb2;
    border-radius: 50% 50% 20% 20%;
    position: relative;
    margin-top: 36px;
    animation: animloader108 4s linear infinite; }
    #loader .loader-spinner::after {
      content: '';
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: 28px;
      height: 31px;
      border-radius: 50%;
      background: #0b6fb2;
      top: -34px;
      animation: animloader108s 4s linear infinite; }

@media (max-width: 576px) {
  #loader img {
    width: 80px; } }

.inner-hero-section {
  position: relative;
  min-height: 500px;
  display: grid;
  place-content: center;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat; }
  .inner-hero-section::before {
    content: "";
    background: #000;
    opacity: 0.7;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .inner-hero-section .container {
    position: relative; }

.innerherobanner {
  width: 100%;
  height: 350px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: grid;
  place-content: center; }
  .innerherobanner::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    opacity: 0.6; }
  .innerherobanner .page-banner-text {
    text-align: center; }
    .innerherobanner .page-banner-text h2 {
      color: #fff;
      font-size: 70px;
      font-weight: 800;
      text-transform: uppercase; }
    .innerherobanner .page-banner-text .breadcrumb {
      justify-content: center; }
      .innerherobanner .page-banner-text .breadcrumb a {
        color: #fff; }
      .innerherobanner .page-banner-text .breadcrumb li.active {
        color: #fff; }
        .innerherobanner .page-banner-text .breadcrumb li.active::before {
          color: #fff; }
  .innerherobanner .container {
    position: relative; }

.slide-btn-one {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 10px 20px;
  position: relative;
  vertical-align: middle;
  display: inline-block;
  transform: perspective(1px) translateZ(0);
  background: transparent;
  border: 2px solid #fff;
  color: #002147; }
  @media only screen and (max-width: 768px) {
    .slide-btn-one {
      width: max-content;
      margin: auto; } }
  .slide-btn-one:hover, .slide-btn-one:active, .slide-btn-one:focus {
    color: #fff; }
    .slide-btn-one:hover::before, .slide-btn-one:active::before, .slide-btn-one:focus::before {
      transform: scaleX(0); }
  .slide-btn-one::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    transform: scaleX(1);
    transform-origin: 50%;
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease-out; }

.slide-btn-two {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 10px 20px;
  position: relative;
  vertical-align: middle;
  display: inline-block;
  transform: perspective(1px) translateZ(0);
  background: #0b6fb2;
  border: 2px solid #0b6fb2;
  color: #fff; }
  @media only screen and (max-width: 768px) {
    .slide-btn-two {
      width: max-content;
      margin: auto; } }
  .slide-btn-two:hover, .slide-btn-two:active, .slide-btn-two:focus {
    color: #002147;
    border: 2px solid #fff; }
    .slide-btn-two:hover::before, .slide-btn-two:active::before, .slide-btn-two:focus::before {
      transform: scaleX(1); }
  .slide-btn-two::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    transform: scaleX(0);
    transform-origin: 50%;
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease-out; }

.btn.btn-one {
  font-weight: normal;
  font-size: 16px;
  text-transform: capitalize;
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  transition-property: color;
  transition: 0.4s ease;
  background: #0b6fb2;
  color: #fff;
  padding: 10px 30px; }
  .btn.btn-one:hover, .btn.btn-one:focus, .btn.btn-one:active {
    color: #fff; }
    .btn.btn-one:hover::before, .btn.btn-one:focus::before, .btn.btn-one:active::before {
      transform: scaleX(1); }
  .btn.btn-one::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #002147;
    transform: scaleX(0);
    transform-origin: 0 50%;
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease-out; }

.btn.trn-btn {
  font-size: 13px;
  font-weight: 600;
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 10px 30px;
  background: transparent;
  border: 2px solid #fff;
  border-radius: 30px;
  position: relative;
  vertical-align: middle;
  display: inline-block;
  transform: perspective(1px) translateZ(0);
  transition-property: color;
  visibility: visible;
  animation-name: fadeInUp;
  transition: all 0.5s;
  margin-top: 3rem; }
  .btn.trn-btn::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 30px;
    transform: scale(0);
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    background-color: #002147; }
  .btn.trn-btn:hover {
    color: #fff;
    border-color: #002147; }
    .btn.trn-btn:hover::before {
      transform: scale(1); }

.btn-wrapper {
  margin-top: 3rem; }

.form-body {
  display: grid;
  justify-content: flex-end; }
  .form-body .form-holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; }
    .form-body .form-holder .form-content {
      position: relative;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0; }
      .form-body .form-holder .form-content .form-items {
        background: rgba(81, 81, 83, 0.8);
        backdrop-filter: blur(7px);
        padding: 25px;
        display: inline-block;
        width: 100%;
        min-width: 420px;
        border-radius: 10px;
        text-align: left;
        transition: all 0.4s ease; }
        @media only screen and (max-width: 575px) {
          .form-body .form-holder .form-content .form-items {
            min-width: 80%; } }
      .form-body .form-holder .form-content h3 {
        color: #fff;
        text-align: left;
        font-size: 28px;
        font-weight: 600;
        margin-bottom: 5px; }
      .form-body .form-holder .form-content h3.form-title {
        margin-bottom: 30px; }
      .form-body .form-holder .form-content p {
        color: #fff;
        text-align: left;
        font-size: 17px;
        font-weight: 300;
        line-height: 20px;
        margin-bottom: 30px; }
      .form-body .form-holder .form-content label, .form-body .form-holder .form-content .was-validated .form-check-input:invalid ~ .form-check-label, .form-body .form-holder .form-content .was-validated .form-check-input:valid ~ .form-check-label {
        color: #fff;
        font-size: 1.6rem; }
      .form-body .form-holder .form-content input[type=text], .form-body .form-holder .form-content input[type=password], .form-body .form-holder .form-content input[type=email], .form-body .form-holder .form-content select {
        width: 100%;
        padding: 9px 20px;
        text-align: left;
        border: 0;
        outline: 0;
        border-radius: 6px;
        background-color: #fff;
        font-size: 15px;
        font-weight: 300;
        color: #8D8D8D;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        margin-top: 16px; }
      .form-body .form-holder .form-content textarea {
        position: static !important;
        width: 100%;
        padding: 8px 20px;
        border-radius: 6px;
        text-align: left;
        background-color: #fff;
        border: 0;
        font-size: 15px;
        font-weight: 300;
        color: #8D8D8D;
        outline: none;
        resize: none;
        height: 120px;
        -webkit-transition: none;
        transition: none;
        margin-bottom: 14px;
        margin-top: 16px; }
        .form-body .form-holder .form-content textarea:hover, .form-body .form-holder .form-content textarea:focus {
          border: 0;
          background-color: #ebeff8;
          color: #8D8D8D; }
      .form-body .form-holder .form-content button {
        background: transparent; }
    .form-body .form-holder .mv-up {
      margin-top: -9px !important;
      margin-bottom: 8px !important; }
    .form-body .form-holder .invalid-feedback {
      color: #ff606e; }
    .form-body .form-holder .valid-feedback {
      color: #2acc80; }
  .form-body .gender {
    margin: 2rem 0 1rem 0; }
    .form-body .gender .btn {
      border: 1px solid #fff;
      transition: 0.4s ease; }
      .form-body .gender .btn:hover {
        background: #fff;
        color: #515153; }

@media only screen and (max-width: 768px) {
  .contact-form-area {
    margin-top: 3rem; } }

.contact-form-area .form-items {
  border: 1px solid #0b6fb2;
  border-radius: 10px;
  padding: 25px;
  display: inline-block;
  width: 100%;
  border-radius: 10px;
  text-align: left;
  transition: all 0.4s ease; }
  @media only screen and (max-width: 575px) {
    .contact-form-area .form-items {
      min-width: 80%; } }

.contact-form-area h3 {
  color: #0b6fb2;
  text-align: left;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 5px; }
  @media only screen and (max-width: 575px) {
    .contact-form-area h3 {
      font-size: 18px; } }

.contact-form-area h3.form-title {
  margin-bottom: 30px; }

.contact-form-area p {
  color: #fff;
  text-align: left;
  font-size: 17px;
  font-weight: 300;
  line-height: 20px;
  margin-bottom: 30px; }

.contact-form-area label, .contact-form-area .was-validated .form-check-input:invalid ~ .form-check-label, .contact-form-area .was-validated .form-check-input:valid ~ .form-check-label {
  color: #fff;
  font-size: 1.6rem; }

.contact-form-area input[type=text], .contact-form-area input[type=password], .contact-form-area input[type=email], .contact-form-area input[type=date], .contact-form-area select {
  font-size: 1.5rem;
  font-family: inherit;
  padding: 1rem;
  border-radius: 2px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #0b6fb2;
  display: block;
  width: 100%;
  transition: all 0.3s;
  margin-top: 16px;
  color: rgba(11, 111, 178, 0.8); }
  @media only screen and (max-width: 575px) {
    .contact-form-area input[type=text], .contact-form-area input[type=password], .contact-form-area input[type=email], .contact-form-area input[type=date], .contact-form-area select {
      padding: 0.5rem 1rem; } }
  .contact-form-area input[type=text]::placeholder, .contact-form-area input[type=password]::placeholder, .contact-form-area input[type=email]::placeholder, .contact-form-area input[type=date]::placeholder, .contact-form-area select::placeholder {
    color: rgba(11, 111, 178, 0.8); }
  .contact-form-area input[type=text]:focus, .contact-form-area input[type=password]:focus, .contact-form-area input[type=email]:focus, .contact-form-area input[type=date]:focus, .contact-form-area select:focus {
    box-shadow: none !important; }

.contact-form-area textarea {
  position: static !important;
  width: 100%;
  padding: 1rem;
  border-radius: 6px;
  text-align: left;
  background: transparent;
  border: none;
  border-bottom: 1px solid #0b6fb2;
  font-size: 15px;
  font-weight: 300;
  color: rgba(11, 111, 178, 0.8);
  outline: none;
  resize: none;
  height: 120px;
  -webkit-transition: none;
  transition: none;
  margin-bottom: 14px;
  margin-top: 16px; }
  .contact-form-area textarea:hover, .contact-form-area textarea:focus {
    background-color: transparent;
    color: #0b6fb2; }

.abt-balaganj footer {
  margin-top: 0 !important; }

footer {
  background-image: url(https://ft.bazardeal.com.bd/nk/nekaton-preview-4/nekaton/assets/img/bg/footer-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  padding: 7rem 0; }
  footer::before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.96;
    background-color: #fff; }
  footer .container {
    position: relative; }
  footer li, footer a, footer i, footer p {
    color: #515153;
    font-size: 16px !important; }
  footer ul {
    margin: 0;
    padding: 0; }
  footer ul.location {
    display: flex;
    flex-wrap: wrap; }
    footer ul.location li {
      position: relative; }
      footer ul.location li:not(:last-child) {
        padding-right: 10px; }
        footer ul.location li:not(:last-child)::after {
          content: "|";
          margin-left: 10px;
          font-weight: 200; }
  footer ul.contact-us li:not(:last-child), footer ul.quick-links li:not(:last-child) {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2); }
  footer h4.widget-title {
    font-size: 2rem;
    text-transform: uppercase;
    color: #002147;
    font-weight: 700;
    display: inline-block;
    margin-bottom: 20px;
    border-bottom: 2px solid;
    padding-bottom: 15px; }
  footer + .copyright {
    background: #F7F9FB;
    padding: 10px; }
    footer + .copyright p, footer + .copyright a {
      color: #0e1027;
      margin: 0; }

header .top-header {
  background: #cb3337;
  padding: 10px 0; }
  header .top-header .social-media {
    color: #fff;
    display: inline-flex; }
    header .top-header .social-media ul {
      margin-bottom: 0; }
      header .top-header .social-media ul li {
        display: inline-block;
        line-height: 1; }
        header .top-header .social-media ul li:not(:last-child) {
          padding-right: 8px; }
        header .top-header .social-media ul li a {
          color: #fff; }
          header .top-header .social-media ul li a i {
            font-size: 20px; }

header .middle-header {
  padding: 20px 0; }
  @media only screen and (max-width: 992px) {
    header .middle-header {
      display: none; } }
  header .middle-header .navbar-brand img {
    width: 14rem; }
  header .middle-header .header-contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%; }
  header .middle-header .header-contact-list {
    display: flex;
    align-items: unset;
    gap: 15px; }
    header .middle-header .header-contact-list:hover .contact-icons {
      border-radius: 50% 3px 50% 50%; }
    header .middle-header .header-contact-list .contact-icons {
      font-size: 25px;
      text-align: center;
      background: #0b6fb2;
      height: 50px;
      width: 50px;
      line-height: 50px;
      border-radius: 3px 50% 50%;
      transition: 0.4s ease; }
      header .middle-header .header-contact-list .contact-icons i {
        color: #fff; }
    header .middle-header .header-contact-list .header-contact-details h4 {
      font-weight: 700;
      margin: 0;
      color: #002147; }
    header .middle-header .header-contact-list .header-contact-details p {
      margin-bottom: 0;
      color: #515153; }
      header .middle-header .header-contact-list .header-contact-details p a {
        color: #515153; }

header .main-header nav {
  background: #0b6fb2;
  padding: 0; }
  @media only screen and (max-width: 992px) {
    header .main-header nav {
      background: #fff;
      padding: 10px  0; }
      header .main-header nav button.navbar-toggler {
        padding: 0;
        border: none;
        font-size: 24px; } }
  header .main-header nav .navbar-brand img {
    width: 14rem; }
  header .main-header nav .navbar-brand.default {
    transition: transform 0.5s; }
    @media only screen and (min-width: 992.1px) {
      header .main-header nav .navbar-brand.default {
        display: none; } }
  header .main-header nav .navbar-collapse {
    transition: transform 0.5s; }
    @media screen and (min-width: 992px) {
      header .main-header nav .navbar-collapse .navbar-nav .dropdown:hover .dropdown-menu {
        display: block;
        margin-top: 0; }
      header .main-header nav .navbar-collapse .navbar-nav .dropdown .dropdown-menu {
        display: none; }
      header .main-header nav .navbar-collapse .navbar-nav .dropdown:hover .dropdown-toggle::after {
        border-top: 0;
        border-bottom: 0.3em solid; } }
    @media screen and (max-width: 991px) {
      header .main-header nav .navbar-collapse .navbar-nav .dropdown-toggle.show::after {
        border-top: 0;
        border-bottom: 0.3em solid; } }
    header .main-header nav .navbar-collapse .navbar-nav li.nav-item:not(:last-child) {
      margin-right: 10px; }
    header .main-header nav .navbar-collapse .navbar-nav li.nav-item a {
      font-size: 16px;
      color: #fff;
      padding: 12px 15px; }
      header .main-header nav .navbar-collapse .navbar-nav li.nav-item a.active {
        background: #cb3337;
        color: white; }
    header .main-header nav .navbar-collapse .navbar-nav li.nav-item.admission {
      background: #0b6fb2;
      border: 2px solid #0b6fb2;
      transition: 0.4s ease;
      border-radius: 10px; }
      @media screen and (min-width: 992px) {
        header .main-header nav .navbar-collapse .navbar-nav li.nav-item.admission {
          margin-left: 15px; } }
      header .main-header nav .navbar-collapse .navbar-nav li.nav-item.admission:hover {
        background: transparent; }
        header .main-header nav .navbar-collapse .navbar-nav li.nav-item.admission:hover a {
          color: #0b6fb2; }
      header .main-header nav .navbar-collapse .navbar-nav li.nav-item.admission a {
        color: #fff;
        padding-left: 30px;
        padding-right: 30px;
        transition: 0.4s ease; }
    header .main-header nav .navbar-collapse .navbar-nav li.nav-item .dropdown-menu li:not(:last-child) {
      border-bottom: 1px solid #0b6fb2; }
    header .main-header nav .navbar-collapse .navbar-nav li.nav-item .dropdown-menu li a.dropdown-item {
      color: #0b6fb2; }
      header .main-header nav .navbar-collapse .navbar-nav li.nav-item .dropdown-menu li a.dropdown-item:focus, header .main-header nav .navbar-collapse .navbar-nav li.nav-item .dropdown-menu li a.dropdown-item:active, header .main-header nav .navbar-collapse .navbar-nav li.nav-item .dropdown-menu li a.dropdown-item:hover {
        background: #0b6fb2;
        color: white; }
  header .main-header nav.fixed-top {
    top: -40px;
    transform: translateY(40px);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: transform .5s;
    background-image: linear-gradient(135deg, white 25%, #0b6fb2 25%);
    padding: 10px 0; }
    @media only screen and (max-width: 992px) {
      header .main-header nav.fixed-top {
        background-image: linear-gradient(135deg, white 40%, #0b6fb2 40%); }
        header .main-header nav.fixed-top button.navbar-toggler span {
          filter: brightness(0) invert(4); } }
    header .main-header nav.fixed-top a.navbar-brand.default {
      display: block; }
      header .main-header nav.fixed-top a.navbar-brand.default img {
        width: 14rem; }
    header .main-header nav.fixed-top .navbar-collapse {
      justify-content: flex-end !important; }

.hero-section {
  min-height: 100vh;
  background-color: red;
  overflow: hidden;
  animation: animate 4s ease-in-out infinite; }
  .hero-section img {
    mix-blend-mode: multiply;
    width: 100%;
    height: auto; }

@keyframes animate {
  0% {
    filter: hue-rotate(0deg); }
  100% {
    filter: hue-rotate(360deg); } }
