footer{
    .footer{
    background: $colorSecondary;
    padding: 4rem 0;
    .footer-widget{
        h4{
            color: $colorWhite;
            font-size: 18px;
            font-weight: 700;
        }
    }
    .footer-content{
        ul{
            li{
                &:not(:last-child){
                    padding-bottom: 7px;
                    margin-bottom: 7px;
                    border-bottom: 1px solid rgba($colorWhite, $alpha: 0.1);
                }
            }
        }
            p, li, a{
                color: rgba($colorWhite, $alpha: 0.7);
                font-size: 14px;
                letter-spacing: 0.4px;
            }
        }
        .social-icons {
            display: flex;
            flex-wrap: wrap;
            gap: 5px;
                a{
                    color: rgba($colorWhite, $alpha: 0.7);
                    background: transparent;
                    border: 2px solid rgba($colorWhite, $alpha: 0.7);
                    border-radius: 50%;
                    width: 33px;
                    height: 33px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition: $transition;
                    &:hover{
                        background: var(--clr);
                        border: 2px solid rgba(var(--clr), $alpha: 1);
                    }
                    i{
                        font-size: 16px;
                    }
                }
            }
}
.copyright{
    background: $colorHeading;
    padding: 1rem 0;
    text-align: center;
    @include respond (phone-before){
        padding: 1rem 0 3.5rem 0;
    }
    p{
        margin: 0;
        color: rgba($colorWhite, $alpha: 0.7);
    }
}
}