header{
	button.navbar-toggler {
    line-height: normal;
	&:focus{
		outline: none;
	}
	.fa-bars {
    color: $colorWhite;
}
}
	.topheader{
		background: $colorSecondary;
		.quicklinks{
			display: flex;
			justify-content: flex-end;
			align-items: center;
			gap: 1rem;
			a{
				font-size: 14px;
				letter-spacing: 0.4px;
			}
		}
		ul.contact-list {
			display: flex;
			gap: 8px;
			li, a{
				color: $colorWhite;
				font-size: 14px;
    			font-weight: 400;
				letter-spacing: 0.4px;
			}
		}
	}
	.bottomheader{
		padding: 10px 0;
		.mobile-logo{
			max-width: 12rem;
			@include respond (tab-land-before){
				display: none;
			}
		}
		.brand-grid{
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			justify-content: space-between;
			align-items: center;
			.brand-grid-item{
				&:nth-child(2){
					display: flex;
					justify-content: flex-end;
					gap: 2rem;
				}
				p{
					margin-bottom: 0;
				}
			}
		}
		.header-contact-list {
            display: flex;
            align-items: center;
            gap: 15px;
            &:hover{
                .contact-icons{
                    border-radius: 50% 3px 50% 50%;
                }
            }
            .contact-icons {
                font-size: 25px;
                text-align: center;
                background: $colorPrimary;
                height: 50px;
                width: 50px;
                line-height: 50px;
                border-radius: 3px 50% 50%;
                transition: $transition;
                i{
                    color: $colorWhite;
                }
            }
            .header-contact-details {
                h4 {
                    font-weight: 700;
                    margin: 0;
                    color: $colorHeading;
					font-size: 17px;
                }
                p{
                    margin-bottom: 0;
                    color: $colorText;
					font-size: 14px;
                    a{
                        color: $colorText;
                    }
                }
            }
        }
	}
	.mainheader{
		.desktop-logo {
			background: $colorWhite;
			@include respond (tab-land-after){
				display: none;
			}
			padding: 6px 10px;
		}
		.navbar{
			background: $colorPrimary;
			&.fixed-top {
				top: -40px;
				background: $colorPrimary;
				transform: translateY(40px);
				transition: transform .3s;
			}
			a.nav-link {
				border-radius: 4px;
				font-size: 14px;
				font-style: normal;
				font-weight: 500;
				line-height: 20px;
				padding: 10px 13px;
				text-transform: uppercase;
				color: $colorWhite;
				@media screen and (min-width:992.1px) and (max-width:1199px) {
					padding: 10px 6.5px;
				}
			}
		}
	}
}