$colorPrimary: #ed8446;
$colorSecondary: #114B5F;
$colorWhite:#fff;
$colorText:#555358;
$colorHeading:#2C363F;
$footerBG:#0e1027;

$transition: 0.4s ease;
$boxShadowOne:rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;;