.global-btn-one {
    color: $colorSecondary;
    background: $colorWhite;
    border-radius: 20px;
    border: 1.5px solid $colorWhite;
    transition: $transition;
    &:hover{
        background: transparent;
        color: $colorWhite;
        border-color: $colorWhite;
    }
}
.global-btn-two {
    color: $colorWhite;
    background: transparent;
    border-radius: 20px;
    border: 1.5px solid $colorWhite;
    transition: $transition;
    &:hover{
        background: $colorWhite;
        color: $colorSecondary;
        border-color: $colorWhite;
    }
}
.global-btn-three {
    color: $colorSecondary;
    background: transparent;
    border-radius: 20px;
    text-transform: capitalize;
    border: 1.5px solid $colorSecondary;
    transition: $transition;
    &:hover{
        background: $colorSecondary;
        color: $colorWhite;
        border-color: $colorSecondary;
    }
}