.u-center-text {
    text-align: center;
  }
  .mb-large {
    margin-bottom: 7rem;
    @include respond(tab-land-before){
      margin-bottom: 5rem;
    }
    @include respond(tab-port-before){
      margin-bottom: 3rem;
    }
  }
    .mt-large {
    margin-top: 7rem;
    @include respond(tab-land-before){
      margin-top: 5rem;
    }
    @include respond(tab-port-before){
      margin-top: 3rem;
    }
  }
  .primary-list{
    li{
      position: relative;
      &:before{
        content: "";
        background-image: url("../images/primary-list-01.png");
        background-size: cover;
        position: absolute;
        top: 30%;
        left: -30px;
        width: 20px;
        height: 20px;
        transform: translateY(-50%);
      }
    }
  }
  

#loader {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 9999;

      @media (max-width: 768px ) {
         width: 50%;
      }
      @media (max-width: 480px) {
        width: 100%;
      }
      .loader-spinner {
    width: 48px;
    height: 35px;
    color: $colorPrimary;
    background: $colorPrimary;
    border-radius: 50% 50% 20% 20%;
    position: relative;
    margin-top: 36px;
    animation: animloader108 4s linear infinite ;
    &::after {
      content: '';
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: 28px;
      height: 31px;
      border-radius: 50%;
      background: $colorPrimary;
      top: -34px;
      animation: animloader108s 4s linear infinite;
  }
}

    }
@media (max-width: 576px) {
  #loader img {
    width: 80px;
  }
}
.inner-hero-section {
    position: relative;
    min-height: 500px;
    display: grid;
    place-content: center;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    &::before{
      content: "";
      background: #000;
      opacity: 0.7;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    .container{
      position: relative;
    }
}
.innerherobanner{
    width: 100%;
    height: 350px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: grid;
    place-content: center;
    &::before{
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: rgba(0, 0, 0, 0.8);
      opacity: 0.6;
    }
    .page-banner-text{
      text-align: center;
      h2{
        color: $colorWhite;
        font-size: 70px;
        font-weight: 800;
        text-transform: uppercase;
      }
      .breadcrumb{
        justify-content: center;
        a{
          color: $colorWhite;
        }
        li.active{
          color: $colorWhite;
          &::before{
            color: $colorWhite;
          }
        }
      }
    }
    .container{
      position: relative;
    }
}