.our-franchise{
    .row{
        @media screen and (max-width:767.9px) {
            gap: 25px;
        }
    }
    .franchise-card{
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
        padding: 60px 30px 30px;
        position: relative;
        transition: all 0.5s;
        &::before{
            content: "";
            position: absolute;
            background: $colorPrimary;
            height: 4px;
            width: 0;
            left: 0;
            bottom: 0;
            transition: all 0.5s;
        }
        &:hover{
                transform: translateY(-5px);
                background: rgba($colorPrimary, $alpha: 0.065487);
                &::before{
                    width: 100%;
                }
            }
        &__img{
            text-align: center;
            img{
                margin: 0 auto 30px;
                @media screen and (min-width:767.9px) {
                    width: 220px;
                    aspect-ratio: 1;
                    object-fit: contain;
                }
            }
        }
        &__content{
            text-align: center;
            span{
                position: absolute;
                top: 0;
                left: 0;
                width: fit-content;
                padding: 10px;
                color: $colorWhite;
                background: $colorSecondary;
            }
            h6{
                text-align: center;
            }
            a{
                color: $colorWhite;
                background: $colorPrimary;
                border: 1px solid $colorPrimary;
                text-transform: uppercase;
                font-size: 14px;
                font-weight: 400;
                padding: 5px 20px;
                margin-top: 12px;
                display: inline-block;
                border-radius: 20px;
                transition: all 0.5s;
                &:hover{
                    color: $colorSecondary;
                    background: $colorWhite;
                    border-color: $colorSecondary;
                    text-decoration: none;
                }
            }
        }
    }
}

.contact-franchise{
    background: rgb(2,0,36);
background: linear-gradient(90deg, $colorPrimary 50%, $colorSecondary 50%);
@media screen and (max-width:767.9px) {
    background: linear-gradient(163.3deg, #ed8446 50%, #114B5F 50%);
}
h2{
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    @media screen and (max-width:767.9px) {
        font-size: 36px;
    }
}
p{
 color: $colorWhite;   
}
.d-flex{
    gap: 20px;
    @media screen and (min-width:768.1px) {
    justify-content: flex-end;
    }
}
@media screen and (max-width:767.9px) {
    .d-flex{
    justify-content: center;
    margin-top: 20px;
}
    .row.align-items-center{
        h2, h6{
            text-align: center;
        }
    }
}
padding: 40px 0;
    @include respond(tab-land-before){
      padding: 30px 0;
    }
    @include respond(tab-port-before){
      padding: 30px 0;
    }
}