.hero-section{
	min-height: 100vh;
	background-color: red;
	overflow: hidden;
	animation: animate 4s ease-in-out infinite;
	img{
		mix-blend-mode: multiply;
		width: 100%;
		height: auto;
		
	}
}
@keyframes animate {
	0%{
		filter: hue-rotate(0deg);
	}
	100%{
		filter: hue-rotate(360deg);
	}
}